.blog-grid-container {
	width: auto;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 30px;

	@media (max-width: 1024px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}

.blog-grid-item {
	color: #333;
	padding: 0;
	display: flex;
	align-items: center;

	.wrapfooter {
		display: flex;
		align-items: center;
	}

	.author-thumb {
		width: 40px;
		border-radius: 50%;
		margin-right: 7px;
	}

	.card {
		border: 0;
		width: 100%;
		&:hover {
			.card-title a {
				background-size: 100% 100%;
			}
		}
	}

	.author-meta {
		display: flex;
		width: 100%;
		padding-left: 10px;
	}

	.post-name {
		margin-right: auto;
	}

	.card-title {
		font-weight: 700;
		font-size: 22px;
		line-height: 1.4;

		a {
			background-image: linear-gradient(180deg, transparent 89%, $primary 0);
			background-repeat: no-repeat;
			background-size: 0 100%;
			transition: background-size .6s ease;
			position: relative;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.card-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.8;
		margin-top: 15px;
	}

	.card-footer {
		font-size: 14px;
		border-top: 0;
		padding: 1rem 1.25rem;

		a {
			color: inherit;
			font-weight: 700;
		}
	}

	// .post-date {
	// 	float: right;
	// 	margin-top: 10px;
	// }
	.meta-footer-thumb {
		.image-container {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
		}
	}

	.img-thumb {
		object-fit: cover;
		height: 240px;
		width: 100%;
		object-position: top;
	}

	@media (max-width: 768px) {
		height: auto;
	}
}

.firstpage {
	.blog-grid-item:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
		flex-direction: column;
		align-items: flex-start;
		font-size: 1em;
		padding: 0;

		.card-title {
			font-size: 28px;
		}

		.img-thumb {
			object-fit: cover;
			height: 400px;
			width: 100%;
			object-position: top;
		}
	}

	.blog-grid-item:nth-child(2),
	.blog-grid-item:nth-child(3) {
		.card-text {
			display: none;
		}

		.img-thumb {
			object-fit: cover;
			height: 160px;
			width: 100%;
			object-position: top;
		}

		.card-title {
			font-size: 18px;
			line-height: 1.5;
		}
	}

	@media (max-width: 768px) {
		.blog-grid-item:nth-child(1) {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;
		}

		.blog-grid-item:nth-child(1) .img-thumb,
		.blog-grid-item:nth-child(2) .img-thumb,
		.blog-grid-item:nth-child(3) .img-thumb {
			height: auto;
		}
	}
}
