// general
body,
input,
button,
select,
optgroup,
textarea {
	font-family: 'Sen', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
	line-height: 1.7;
	background: #f4f4f4;

	@media (min-width: 601px) {
		margin-left: 79px;
	}
}

a {
	color: darken($primary, 24%);

	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

.site-content {
	padding-top: 50px;
}

.sitetag {
	font-weight: 700;
	line-height: 1.3;
	font-size: 35px;

	@include media-breakpoint-up(sm) {
		font-size: 50px;
		line-height: 1.2;
	}
}

.bigradius {
	border-radius: 40px;
}

.mb-neg-30 {
	margin-bottom: -30px;
}

.btn {
	min-width: 180px;
}

blockquote {
	font-family: Times New Roman;
	font-style: italic;
	font-size: 20px;
	position: relative;
	border-left: 1px solid $dark;
	margin-left: 30px;
	padding-left: 15px;

	cite {
		font-weight: 700;
	}
}

.article-post,
.entry-header,
.comments,
.rating,
.authorbox {
	max-width: 740px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.image-shadow {
	-webkit-box-shadow: 0 7px 50px 0 rgba(84, 110, 122, .15);
	-moz-box-shadow: 0 7px 50px 0 rgba(84, 110, 122, .15);
	box-shadow: 0 7px 50px 0 rgba(84, 110, 122, .15);
}

.c-rating button {
	cursor: none;
}

.badge {
	margin: 0 4px;
}

figure {
	margin: 0;
}
