#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 420px;
	background: #fff;
	padding: 0;
	margin: 0;
	transform: translate(-100%, 0);
	z-index: 1022;

	&.active {
		transform: translate(0%, 0);
	}

	ul {
		float: left;
		width: 100%;
		padding: 80px 30px 80px 100px;

		h3 {
			margin-bottom: 30px;
		}

		li {
			list-style: none;
			width: 100%;

			a {
				width: 100%;
				display: inline-block;
				padding: 2vh 0px 2vh 0px;
				line-height: 20px;
				text-decoration: none;
				color: #8E9AA7;
				font-weight: 400;
				font-size: 18px;
				position: relative;
			}

			&.is-active {
				a {
					color: $primary;
				}
			}
		}
	}

	@media (max-width: 600px) {
		ul {
			padding: 80px 30px 80px 30px;
		}
	}

	@media screen and (min-width: 1025px) { 
		ul {
			a {
				&:hover {
					color: $primary;
				}
			}
		}
	 }
}
