.show-search {
	cursor: pointer;

	&:hover {
		color: darken($primary, 20%);
	}
}

.bd-search {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s linear;

	&.search--show {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s linear;
	}

	@media (max-width: 600px) {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s linear;
	}
}

.wrap-search {
	position: fixed;
	left: 30px;
	bottom: 25px;
	z-index: 1026;

	@media (max-width: 600px) {
		right: 25px;
		display: flex;
		left: unset;
		z-index: 0;
	}

	@media (max-width: 480px) {
		.fa-search {
			display: none;
		}

		.form-control {
			height: 35px;
		}
	}
}

.modal-open .modal {
	background: rgba(0, 0, 0, 0.3);
}

.lunrsearchresult {
	.title {
		color: #000;
		font-weight: 700;
		line-height: 1.2;
		display: block;
		font-size: 20px;
		margin-bottom: 5px;

		&:hover {
			color: darken($primary, 20%);
		}
	}

	span.body {
		color: $gray-500;
		line-height: 1.7;
		display: block;
		margin-bottom: 10px;
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}

	span.url {
		display: none;
	}
}

body.active-side {
	.bd-search {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s linear;
	}
}
